# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List Popular languages for Data Scientists
- Commonly used libraries used by Data Scientists
- Open Source Data Science Tools
- Commercial Tools for Data Science
- Cloud Base Tools for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL
5. JavaScript
6. Ruby (particular uses)

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. matplotlib
4. seaborn
5. plotly

| Data Science Tools |
|:-------------------|
|JupyterLab/Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [4]:
200/60

3.3333333333333335

## Author

Laura Tinoco Garc√≠a